.whitetext {
  color: white;
  text-align: center;
  max-width: 30%;
  margin: 0 auto;
}

.centertext {
  text-align: center;
  color: black;
  max-width: 30%;
  margin: 0 auto;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.lefttext {
  text-align: left;
  color: black;
  max-width: 30%;
  margin: 0 auto;
  font-size: medium;
}
.hovertext {
  font-size: xx-large;
  text-align: center;
  max-width: 30%;
  margin: 0 auto;
}
